#open_technology {
    font-weight: bold;
  } 

#open_hrms {
    font-weight: bold;
  } 

  .filterbtn
  {
    text-align: left;
  }

  #title_filterbar 
  {
    max-height: 300px;
    overflow-y: auto;

  }

  #technology_filterbar
  {
    max-height: 300px;
    overflow-y: auto;
  }

  #hrms_filterbar
  {
    max-height: 300px;
    overflow-y: auto;
  }


  
  #country_option
  {
    max-height: 300px;
    overflow-y: auto;
  }

  #state_option
  {
    max-height: 300px;
    overflow-y: auto;
  }

  #city_option
  {
    max-height: 300px;
    overflow-y: auto;
  }
